<div>
<% unless current_user.blank? %>
	<% if comment.article.user_id == current_user.id || comment.approved  == 1|| comment.user_id == current_user.id %>
		<p>
			<strong>Commenter:</strong>
			<%= comment.commenter %>
			<% if(comment.approved == 0) %>
				<span class="label label-success">This comment hasn't been approved</span>
			<% end %>
		</p>

		<p>
			<strong>Comment:</strong>
			<%= comment.body %>
		</p>
	<% end %>
<% else %>
	<% if comment.approved == 1 %>
	<p>
		<strong>Commenter:</strong>
		<%= comment.commenter %>
	</p>

	<p>
		<strong>Comment:</strong>
		<%= comment.body %>
	</p>
	<% end %>


<% end %>


<p>

<% if user_signed_in? %>
	<% if current_user.id == comment.article.user_id || comment.user_id == current_user.id%>

		<%= link_to 'Destroy Comment', [comment.article, comment],
   		method: :delete,
       	data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
		<% if current_user.id == comment.article.user_id && comment.approved == 0 %>
			<%= link_to 'Approve', [comment.article, comment],method: :patch %>
		<% end %>
	<% end %>
<% end %>
</p>
<hr>