<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<p>
	<strong>Author:</strong>
	<%= User.find_by(id: @article.user_id).email%>
</p>


<h2>
	Comments
	<span class="badge">
		<%= pluralize(@article.comments.where("approved = 1").size, "comment") %>
	</span>
</h2>

<%= render @article.comments %>
<% if @article.comments.size == 0%>
	Be the first to comment!
<% end %>


<% if user_signed_in? %>
	<h2>Add a comment:</h2>
	<%= render "comments/form" %>
<% end %>

<%= link_to 'Back', articles_path %>
<% if !current_user.blank? && @article.user_id ==current_user.id %>
	| <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>