<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= nav_bar :brand => "Blog" , :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
    <% end %>
    <%= menu_group :pull => :right do  %>
      <% if user_signed_in? %>
          <strong>
          <%= menu_text "Logged in as" + current_user.email, :class => 'pull-left' %>
          </strong>
          <%= menu_divider %>
          <%= menu_item "Edit Profile",edit_user_registration_path %>
          <%= menu_item "Log Out",destroy_user_session_path, method: :delete %>
        <% else %>
          <%= menu_item "Sign_up",new_user_registration_path %>
          <%= menu_item "Login",new_user_session_path %>
        <% end %>
    <% end %>
<% end %>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
